

  <figure class="snip1224">
    <!-- <h4>Casual Top</h4> -->
    <div class="image">
      <img src="=" alt="sq-sample17"/></div>
    <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i></div>
    <figcaption>
      <h5>{{oneBook.title}}</h5>
      <p>Quantity: {{oneBook.quantity}}</p>
      <div class="price">
        ${{oneBook1.price}}
      </div>
    </figcaption>
    <button (click)="handleDelete()" class="add-to-cart">Remove</button>
  </figure>
