<footer class="footer">

    <!-- Footer Links -->
    <div class="container-fluid  text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase" style="font-size: 15px;">The Book</h5>
          <p>Here at The Book Hive, our members and customers are one big family! As we begin the process of entering the digital sphere, we hope to better serve our community and meet the needs of you, the customer, in our ever-growing world. We thank you for your business and would love to hear your feedback, contact us on social media!</p>
          <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p> -->

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">


        <div class="col-md-3 mb-md-0 mb-3">


          <h5 class="text-uppercase"></h5>

          <ul class="list-unstyled">

          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase" style="font-size: 15px;">Follow us on social media!</h5>

          <ul class="list-unstyled">
            <li style="justify-content: space-between;">
              <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Facebook_icon.jpg"></a>
              <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt=""></a>
              <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt=""></a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
         </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
