
 <div class="about-section">
  <h1 style="font-size: 24pt;">Welcome to The Book Hive</h1>
  <p>Shop The Best Collection Here</p>
</div>

<section id="about-us">
  <div class="container">
      <div class="row align-items-center">
          <div class="col mt-3">
              <h1 style="font-weight: bolder;">About Us</h1>
              <p><b>The Book Hive</b> contains all the desired books which you want. 
                Here you can add your desired books in the cart and also you can purchase them at a desirable cost. The books will be delivered to you.
                So that you can enjoy reading the books without any interruptions.
              </p>

          </div>
      </div>
  </div>
  <div class="container">
      <div class="row align-items-center">
          <div class="col">
              <h1 style="font-weight: bolder;">Our Mission</h1>
              <p>People find it very difficult to find the books which they want as they need to wander from one shop to the another.Instead by the help of  <b>The Book Hive </b> they can easily find the book they want sitting at their home without any much of struggles. So that they can spend more time reading the books rather than search more the books </p>
          </div>
      </div>
  </div>
</section>
